<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark">
        <div class="modal-body" *ngIf="selectedMovieData">
            <button type="button" class="btn position-absolute" style="top: 10px;right: 10px;" data-bs-dismiss="modal"
                aria-label="Close"><i class="fa fa-times text-white"></i></button>

            <!-- Main Content Section -->
            <div class="d-flex flex-column flex-md-row">
                <!-- Movie Poster -->
                <img [src]="selectedMovieData.Poster" [alt]="selectedMovieData.Title" class="img-fluid mb-3 mb-md-0"
                    style="width: 100%; max-width: 200px; object-fit: cover;" />
                <!-- Movie Details -->
                <div class="ms-0 ms-md-3">
                    <h1 class="text-white font-100">{{selectedMovieData.Title}}</h1>
                    <h5 class="text-white font-100 mb-2">Release Year: {{selectedMovieData.Year}}</h5>
                    <span class="bg-success px-2 text-white">{{selectedMovieData.Type | uppercase}}</span>
                    <p class="text-white mt-3">
                        {{MOVIES_CONSTANTS.MODEL_MOVIE_DESCRIPTION}}
                    </p>
                    <!-- Buttons -->
                    <div class="d-flex flex-wrap">
                        <button class="btn bg-light mb-2 me-2" title="{{MOVIES_CONSTANTS.WATCH_NOW}}">
                            <i class="fa fa-play me-1"></i> {{MOVIES_CONSTANTS.WATCH_NOW}}
                        </button>
                        <button class="btn bg-light mb-2" title="{{MOVIES_CONSTANTS.ADD_TO_WISHLIST}}">
                            <i class="fa fa-plus me-1"></i> {{MOVIES_CONSTANTS.ADD_TO_WISHLIST}}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Genre and Reactions Section -->
            <div class="d-flex justify-content-between align-items-center flex-wrap mt-4">
                <div class="pt-2 mb-3">
                    <p class="text-white font-100 mb-0">Genre:
                        <span class="border border-white px-2 py-1">Action</span>
                        <span class="border border-white px-2 py-1 ms-2">Drama</span>
                    </p>
                </div>
                <div>
                    <button class="btn border border-white rounded-circle me-2 mb-2" style="width: 40px; height: 40px;"
                        title="I like this">
                        <i class="fa fa-thumbs-up text-white" style="font-size: 18px;"></i>
                    </button>
                    <button class="btn border border-white rounded-circle mb-2" style="width: 40px; height: 40px;"
                        title="I don't like this">
                        <i class="fa fa-thumbs-down text-white" style="font-size: 18px;"></i>
                    </button>
                </div>
            </div>
            <hr class="border border-white" />

            <!-- Episodes or Recommendations Section -->
            <div class="mt-3">
                <h2 *ngIf="selectedMovieData.Type === 'series'" class="text-white font-100">Episodes</h2>
                <h2 *ngIf="selectedMovieData.Type === 'movie'" class="text-white font-100">More like this</h2>

                <div *ngFor="let movie of relatedMovies; let i = index" class="card card-bg-color py-2 px-3 mb-3">
                    <div class="row align-items-center">
                        <div class="col-2 col-sm-1 text-center">
                            <h3 class="font-100 text-white">{{i + 1}}</h3>
                        </div>

                        <div class="col-4 col-sm-2 text-center">
                            <img [src]="movie.Poster" [alt]="movie.Title" class="img-fluid rounded"
                                style="width: 100%; max-width: 80px; object-fit: cover;" />
                        </div>

                        <div class="col-6 col-sm-8">
                            <p class="text-white fw-bold mb-1">{{movie.Title}}</p>
                            <p class="text-white font-100 mb-0 d-none d-sm-block">
                                {{MOVIES_CONSTANTS.MODEL_MOVIE_MINI_DESCRIPTION}}
                            </p>
                        </div>

                        <div class="col-12 col-sm-1 d-flex justify-content-end align-items-center mt-3 mt-sm-0">
                            <button class="btn border border-white rounded-circle d-none d-sm-block"
                                style="width: 40px; height: 40px;" title="{{MOVIES_CONSTANTS.WATCH_NOW}}">
                                <i class="fa fa-play text-white" style="font-size: 18px;"></i>
                            </button>

                            <button class="btn border border-white text-white d-sm-none d-sm-max-block"
                                title="{{MOVIES_CONSTANTS.WATCH_NOW}}">
                                <i class="fa fa-play"></i> <span class="ms-2">{{MOVIES_CONSTANTS.WATCH_NOW}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>