<div class="main-div p-5 overflow-auto">
    <h1 class="text-white font-100">Youv'e searched for, {{searchedText}}</h1>
    <hr class="border border-white">

    <div class="p-3 bg-black rounded position-relative">

        <!-- Not Found -->
        <div *ngIf="!searchMoviesLoading && !searchedMovies?.length" class="not-found-container text-center">
            <img src="../../../assets/images/no-results.png" style="width: 100px">
            <h1 class="text-white font-100">
                <i class="fa fa-heart-crack"></i> {{MOVIES_CONSTANTS.NOT_FOUND}}
            </h1>
        </div>

        <!-- Loader -->
        <div *ngIf="searchMoviesLoading" class="overlay-loader">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="movie-list-container">
            <div class="movie-item" *ngFor="let movie of searchedMovies" (click)="openPopup(movie)">
                <div class="movie-card">
                    <img [src]="movie.Poster" alt="{{movie.Title}}" />
                    <h6 class="text-light mt-1 text-truncate" style="max-width: 150px;">{{movie.Title}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <app-modal [selectedMovie]="selectedMovieData"></app-modal>
</div>