.main-div {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 65%, rgba(93, 16, 16, 1) 100%);
}

/* Carousel */
.carousel-inner {
    padding: 50px;
}

.carousel-inner img {
    height: 400px;
}

/* movie-list */
.movie-list-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    scrollbar-color: #b9090986 #000;
}

.movie-item {
    width: 200px;
    text-align: center;
    transition: transform .2s;
    cursor: pointer;
}

.movie-item:hover {
    transform: scale(1.1);
}

.movie-item img {
    width: 150px;
    height: 200px;
}

/* Loader */
.overlay-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.blur {
    filter: blur(2px);
    pointer-events: none;
}