<!-- Main loader -->
<div id="loader" *ngIf="mainLoader"
    class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex justify-content-center align-items-center z-index-1050">
    <div class="spinner-border text-white" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="main-div" *ngIf="!mainLoader">

    <!-- Carousel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let movie of allMovies; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                    <img [src]="movie.Poster" class="d-block mb-3 mb-md-0" [alt]="movie.Title"
                        style="max-height: 400px;">
                    <div class="m-4 text-center text-md-start">
                        <h1 class="text-light fw-light">{{movie.Title}}</h1>
                        <h3 class="text-light mb-3 fw-light">Release Year - {{movie.Year}}</h3>
                        <span class="bg-success px-2 text-white">{{movie.Type | uppercase}}</span>
                        <p class="text-white mt-3">
                            {{MOVIES_CONSTANTS.BANNER_MOVIE_DESCRIPTION}}
                        </p>
                        <div class="d-flex justify-content-center justify-content-md-start position-md-absolute"
                            style="bottom: 10%;">
                            <button class="btn bg-light me-2" title="{{MOVIES_CONSTANTS.WATCH_NOW}}">
                                <i class="fa fa-play me-1"></i> {{MOVIES_CONSTANTS.WATCH_NOW}}
                            </button>
                            <button class="btn bg-light ms-md-3" title="{{MOVIES_CONSTANTS.ADD_TO_WISHLIST}}">
                                <i class="fa fa-plus me-1"></i> {{MOVIES_CONSTANTS.ADD_TO_WISHLIST}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Action Movies -->
    <div class="m-3 p-3 bg-black rounded">

        <!-- Loader -->
        <div *ngIf="actionMoviesLoading" class="overlay-loader">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div [class.blur]="actionMoviesLoading">
            <div class="d-flex justify-content-between">
                <h5 class="text-light font-100"> Action Movies</h5>
                <a class="text-light cursor-pointer" style="cursor: pointer;" (click)="loadMore('action')">Load More <i
                        class="fa fa-angle-right"></i></a>
            </div>
            <hr class="border border-white mt-1">

            <!-- Movie List Container -->
            <div class="movie-list-container" #actionMoviesListContainer>
                <div class="movie-item" *ngFor="let movie of allActionMovies" (click)="openMoviePopup(movie)">
                    <div class="movie-card">
                        <img [src]="movie.Poster" alt="{{movie.Title}}" />
                        <h6 class="text-light mt-1 text-truncate" style="max-width: 150px;">{{movie.Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comedy Movies -->
    <div class="m-3 mb-0 p-3 bg-black rounded">

        <!-- Loader -->
        <div *ngIf="comedyMoviesLoading" class="overlay-loader">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div [class.blur]="comedyMoviesLoading">
            <div class="d-flex justify-content-between">
                <h5 class="text-light font-100"> Comedy Movies</h5>
                <a class="text-light cursor-pointer" style="cursor: pointer;" (click)="loadMore('comedy')">Load More <i
                        class="fa fa-angle-right"></i></a>
            </div>
            <hr class="border border-white mt-1">
            <div class="movie-list-container" #comedyMoviesListContainer>
                <div class="movie-item" *ngFor="let movie of allComedyMovies" (click)="openMoviePopup(movie)">
                    <div class="movie-card">
                        <img [src]="movie.Poster" alt="{{movie.Title}}" />
                        <h6 class="text-light mt-1 text-truncate" style="max-width: 150px;">{{movie.Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Selected movie modal -->
<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <app-modal [selectedMovie]="selectedMovieData"></app-modal>
</div>